body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#navbar {
    display: flex;
    border: 1px solid transparent;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
}

#navbar>div>img {
    margin-left: 30px;
    overflow: hidden;
    height: 80px;
}

#navbar-pages {
    display: flex;
    align-items: center;
    text-align: end;
    justify-content: flex-end;
    width: 90%;
}

#navbar-pages>div {
    padding: 5px;
    text-align: end;
    font-size: 20px;
    padding-right: 80px;
    cursor: pointer;
    padding-left: 80px;

}

#navbar-pages>div:hover {
    text-decoration: underline;
}